.container {
  width: 375px;
  padding: 2rem;
}

.header-login {
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #60c032;
}

.bloco-input {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.footer {
  height: 190px;
  justify-content: center;
}
