.header {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mixagro-hackatagro-slc.appspot.com/o/Home2.png?alt=media&token=fa281ef0-e1b6-4829-a261-ffa6fb2c4bb3");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  margin-top: -30px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 150px;
}

.logo {
  font-size: 68px;
}

.slogan {
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

label {
  margin-bottom: 5px;
  padding-left: 5px;
}

input {
  padding-left: 0.6rem;
}

.container {
  height: 700px;
}
